.bd-content>.table tbody tr td[rowspan]:first-child,
.bd-content>.table-responsive .table tbody tr td[rowspan]:first-child {
    vertical-align: middle;
    text-align: center;
}

.bd-content>.table tbody tr td.placeholder-property-label,
.bd-content>.table-responsive .table tbody tr td.placeholder-property-label {
    text-transform: capitalize;
    vertical-align: middle;
    text-align: center;
}


@media (min-width: 768px) { 
    section {
        padding: 5rem 0; 
    }
    footer {
        padding: 5rem 0; 
    }
}

.hero {
    text-align: center; /* Center content on smaller screens */
}

@media (min-width: 992px) { 
    .hero {
        text-align: left; 
    }
}
