.bd-content>.table tbody tr td[rowspan]:first-child,
.bd-content>.table-responsive .table tbody tr td[rowspan]:first-child {
    vertical-align: middle;
    text-align: center;
}

.bd-content>.table tbody tr td.placeholder-property-label,
.bd-content>.table-responsive .table tbody tr td.placeholder-property-label {
    text-transform: capitalize;
    vertical-align: middle;
    text-align: center;
}


section {
    padding: 5rem 0; /* Adjust padding as needed */
}

.hero {
  text-align: center; /* Center content on smaller screens */
}

@media (min-width: 992px) { /* Adjust breakpoint as needed */
  .hero {
    text-align: left; /* Left-align content on larger screens */
  }
}
