<footer class="bg-primary text-center text-lg-start text-light">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">FormLang</h5>
        <p>
          Empower your processes with intelligent forms.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
              <a href="https://formlang.com/company/about-us" class="text-light">About Us</a>
          </li>
          <li>
              <a href="https://formlang.com/company/contact-us" class="text-light">Contact</a>
          </li>
          <li>
              <a href="https://formlang.com/privacy-policy" class="text-light">Privacy Policy</a>
          </li>
          <li>
              <a href="https://formlang.com/terms-of-service" class="text-light">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Connect</h5>
        <ul class="list-unstyled">
          <li>
              <a href="https://www.youtube.com/@@formlang" class="text-light"><i class="la la-youtube"></i> YouTube</a>
          </li>
          <li>
              <a href="https://linkedin.com/in/formatix-formlang-6a4270305" class="text-light"><i class="la la-linkedin"></i> LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <hr class="mb-8">
      &copy; Copyright <strong><span>2024 <a class="text-light" href="https://formlang.com/">FormLang LLC</a></span></strong> | All Rights Reserved
  </div>
</footer>
