<footer class="bg-primary position-relative">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-5 col-xl-4 me-auto mb-6 mb-lg-0">
                <div class="subscribe-form p-5 rounded" style="background-color: rgba(0, 0, 0, 0.2);">
                    <h5 class="mb-4 text-white">Our Newsletter</h5>
                    <h6 class="text-light">To stay up-to-date with our latest news, please subscribe to our newsletter.To subscribe, simply enter your email address below. You may stop the subscription service anytime.</h6>
                    <form action="https://formlang.outseta.com/email/lists/z9MvMyW4/subscribe" method="post" class="group">
                        <input id="Email" type="email" name="email" class="email form-control" placeholder="Email Address" required="">
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="o_rP082lywzbhZ1SMkLxpGDB5m_xR2OScJF" tabindex="-1" value="">
                        </div>
                        <input type="submit" value="Subscribe" class="btn btn-outline-light btn-block mt-3 mb-2" data-wait="Please wait...">
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row">
                    <div class="col-12 col-sm-4 navbar-dark">
                        <h5 class="mb-4 text-white">Account</h5>
                        <ul class="navbar-nav list-unstyled mb-0">
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://portal.formlang.com/account/sign-in">Login</a>
                            </li>
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://portal.formlang.com/account/sign-up">Join your organization</a>
                            </li>
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://portal.formlang.com/organization/sign-up">Create your organization</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
                        <h5 class="mb-4 text-white">Apps</h5>
                        <ul class="navbar-nav list-unstyled mb-0">
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://formlang.com/portal">User Portal Web App</a>
                            </li>
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://formlang.com/design">Form Builder Web App</a>
                            </li>
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://apps.apple.com/us/app/formlang/id6474883888?platform=iphone">
                                    <i class="bx bi-apple" style="color:white;"></i>
                                    FormLang IOS App
                                </a>
                            </li>
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://play.google.com/store/apps/details?id=com.formlang.connect">
                                    <i class="bx bi-android" style="color:#00C853;"></i>
                                    FormLang Android App
                                </a>
                            </li>
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://apps.apple.com/us/app/formlang/id6612009688?platform=iphone">
                                    <i class="bx bi-apple" style="color:white;"></i>
                                    VisitorHub IOS App
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://play.google.com/store/apps/details?id=com.formlang.visitorhub">
                                    <i class="bx bi-android" style="color:#00C853;"></i>
                                    VisitorHub Android App
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-4 mt-6 mt-sm-0 navbar-dark">
                        <h5 class="mb-4 text-white">Legal</h5>
                        <ul class="navbar-nav list-unstyled mb-0">
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://formlang.com/terms-of-service">Terms of Service</a>
                            </li>
                            <li class="mb-3 nav-item">
                                <a class="nav-link" href="https://formlang.com/privacy-policy">Privacy Policy</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-sm-6 text-center">
                        <a class="footer-logo text-light h2 mb-0" style="text-decoration: none;" href="https://formlang.com">
                            FormLang
                        </a>
                        <p class="text-light">
                            Empower your processes with intelligent forms.
                        </p>
                    </div>
                    <div class="col-12 col-sm-6 mt-6 mt-sm-0">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="text-light ic-2x" href="https://www.youtube.com/@formlang"><i class="la la-youtube"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-light ic-2x" href="https://linkedin.com/in/formatix-formlang-6a4270305"><i class="la la-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-white text-center mt-8">
            <div class="col">
                <hr class="mb-8">
                © Copyright <strong><span>2024 FormLang LLC</span></strong> | All Rights Reserved | V1.0.5
            </div>
        </div>
    </div>
</footer>
